body {
    font-family: 'Courier New', monospace;
    background-color: #0a0a0a;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff;
}


table {
    border-collapse: collapse; /* Remove o espaçamento entre as células */
    width: 50%;
}

th, td {
    border: 2px solid rgb(156, 13, 61); /* Adiciona a borda */
    padding: 10px; /* Adiciona espaçamento interno */
}
